.search-box{
    margin: 20px auto;
    text-align: center;
}
.search-input{
    width: 40%;
    height: 5.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: #efefef;
    border:#28282B 1px solid;
}


.btn{
    padding: 5px 10px;
    border: none;
}
.search-btn{
    padding: 9.5px 30px;
    background-color: #28282B;
    margin-left: -5px;
    color:#fff;
}

.search-result{
    margin: 20px auto;
    padding: 10px 140px;
}
.disabled-search{
    padding: 12px 30px;
margin: left -1px;
background-color: #aaa;
color: #999;
border: #aaa 1px solid;
cursor: not-allowed no-drop;

}